<!-- Header section -->
<header class="header-section clearfix">  
    <img class="mt-4" src="./assets/img/icons/logo.png" alt="logo">
    <div class="header-right">
        <div class="user-panel">
            <app-modal-login></app-modal-login>
            <span>| &nbsp; </span>
            <app-modal-new-user></app-modal-new-user>
        </div> 
    </div>
    <ul class="main-menu">
        <li><a routerLink="/home">Pagina Principal</a></li>
        <li><a routerLink="/playlist">Mis listas</a></li>
        <li><a routerLink="/profile">Mi Perfil</a></li>
        <li><a routerLink="/contact">Contáctanos</a></li>
    </ul>
</header>
<!-- Header section end -->.
