<!-- Header section -->
<header class="header-section clearfix">
    
    <img class="mt-4" src="./assets/img/icons/logo.png" alt="logo">

    <div class="header-right">
        <div class="user-panel">
            <a href="" class="login" data-toggle="modal" data-target="#login">Iniciar sesión</a>
            <span>|</span>
            <a href="" class="register" data-toggle="modal" data-target="#regis">Crear cuenta</a>
        </div> 
    </div>
    <ul class="main-menu">
        <li><a routerLink="/home">Pagina Principal</a></li>
        <li><a routerLink="/playlist">Mis listas</a></li>
        <li><a routerLink="/profile">Mi Perfil</a></li>
        <li><a routerLink="/contact">Contáctanos</a></li>
    </ul>
</header>
<!-- Header section end -->.
