<!-- Contact section -->
<section class="contact-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <!-- Map -->
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14938.141455772982!2d-103.4155531!3d20.607024!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x504aca265b96052a!2sITESO%2C%20Universidad%20Jesuita%20de%20Guadalajara!5e0!3m2!1sen!2smx!4v1592784399032!5m2!1sen!2smx" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="contact-warp">
                    <div class="section-title mb-0">
                        <h2>Nosotros</h2>
                    </div>
                    <p>Esta página fue hecha como proyecto de la clase de Desarollo de Aplicaciónes y Servicios Web. Donde la primer entrega era solo hace como un mock-up de lo que sería la pagina final.</p>
                    <ul>
                        <li>Escuela: ITESO</li>
                        <li>Alumnos: Alonso, Ricardo</li>
                        <li>Profesor: Luis Fernando</li>
                    </ul>
                    <h2 class="ml-3 mb-3">Mandanos tus opiniones</h2>
                    <form class="contact-from">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Nombre">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Correo">
                            </div>
                            <div class="col-md-12">
                                <textarea placeholder="Mensaje"></textarea>
                                <button class="site-btn">Mandar mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact section end -->