<h1 class="ml-5 mt-5 mb-3">Perfil del ususario</h1>
	  <div id="bod"></div>
	  <div class="container ml-5 mt-3 mb-3">
		<div class="row media border p-3">
	  
		  <div class="media-body  mt-3 mr-5 col-3">
			<!-- {{userImg}} -->
		  </div>
	  
		  <div class="col-8" id="userData">
			<h3>{{userName}}</h3>
			<br>
			Correo: {{userMail}}
			<br>
			Sexo: {{userSex}}
			<br>`
		  </div>
	  
		  <div class="col-2">
			  <br>
			  <br>
			  <app-modal-edit-user></app-modal-edit-user>
	  
		  </div>
		</div>
	  </div>
	  <div class="col text-center">
	  	<button type="button" class="btn btn-primary" (click)="logOut()">Cerrar sesión</button>
	  </div>
	  <br>
	  