<ng-template #content let-modal>

    <div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Agregar item</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <form [formGroup]="addItemForm">
            <div class="container-fluid">
                <div class="form-group">
                    <input type="text" class="form-control" name="list-item" formControlName="elementos" aria-describedby="helpId" required>
                </div>
			</div>	
        </form>
    </div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="add()">Agregar</button>
	</div>
</ng-template>

<button class="site-btn" (click)="open(content)">Añadir Elemento</button>
